.home-img
{
	max-width: 100%;
	min-width: 100%
}

.home-grid-border-1px
{
	border: 1px solid;
}

.cntr-new
{
	background-color: white;
	width: 75%;
}

.row-margin-top
{
	margin-top: 15px;
}

body
{
	background-color: #E6E6E6;
}